# Ignorar node_modules, pois será instalado no contêiner
node_modules

# Ignorar arquivos de build antigos
build

# Ignorar arquivos de log
*.log

# Ignorar arquivos de ambientes locais
.env
.env.local
.env.development
.env.test
.env.production

# Ignorar arquivos temporários
.DS_Store
